@import "/reset.css";

:root {
  --header-background-color: #e1d8cf;
  --background-color: #efefef;
  --input-background-color: #ffffff;
  --accent-color: #f8744c;
  --secondary-color: #f8914c;
  --text-color: #161616;
  --link-color: #000a75;
  --header-font-size: 2rem;
  --subheader-font-size: 1.25rem;
  --base-md: 1.125rem;
  --font-family-main: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  --font-family-secondary: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-full: 9999px;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-60: 3.75rem;

  --page-padding: clamp(1rem, -1.0718rem + 8.8398vw, 6rem);
  --section-spacing: 3rem;
}

body {
  font-family: var(--font-family-main);
  background-color: var(--background-color);
  color: var(--text-color);
}

section,
footer {
  margin-top: var(--section-spacing);

  & > * {
    padding-inline: var(--page-padding);
  }
}

a {
  color: var(--link-color);
}

.back-to-top {
  position: fixed;
  right: var(--spacing-16);
  bottom: var(--spacing-16);
}

section:not(#new-release) header {
  background-color: var(--secondary-color);
  padding-block: var(--spacing-20);
  font-size: var(--subheader-font-size);
  font-weight: bold;
  margin-bottom: var(--spacing-16);

  @media (min-width: 1280px) {
    margin-inline: var(--page-padding);
    padding-inline: var(--spacing-20);
  }
}

.page-header {
  img {
    display: none;

    @media (min-width: 768px) {
      display: block;
      border-radius: var(--border-radius-full);
      width: var(--spacing-60);
      aspect-ratio: 1;
    }
  }

  .page-header-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    background-color: var(--header-background-color);
    padding-block: var(--spacing-16);
    padding-inline: var(--page-padding);

    select {
      max-width: fit-content;
      background-color: transparent;
      border: none;
      border: 1px solid var(--text-color);
      border-radius: var(--border-radius-sm);
    }

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  h1 {
    font-size: var(--header-font-size);
    font-weight: bold;
  }

  p {
    font-size: var(--subheader-font-size);
    font-family: var(--font-family-secondary);
  }

  nav ul {
    text-align: center;

    li {
      padding-block: var(--spacing-8);
      font-family: var(--font-family-secondary);
      border-bottom: 1px solid var(--text-color);

      a {
        color: var(--text-color);
      }
    }

    @media (min-width: 768px) {
      display: flex;
      gap: var(--spacing-16);
      justify-content: space-evenly;

      li {
        border-bottom: none;
      }
    }
  }
}

#new-release {
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: var(--spacing-20);
  background-color: var(--accent-color);
  text-align: center;
  padding-block: calc(var(--section-spacing) / 2);

  .new-release-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
  }

  header {
    margin-inline: auto;
    width: fit-content;

    h2 {
      font-size: var(--subheader-font-size);
      background-color: var(--text-color);
      color: var(--background-color);
      padding: var(--spacing-8);
      border-radius: var(--border-radius-sm);
    }
  }

  h3 {
    font-size: var(--header-font-size);
    font-family: var(--font-family-secondary);
    font-style: italic;
  }

  img {
    padding: var(--spacing-16);
    background-color: white;
    border-radius: var(--border-radius-md);

    @media (min-width: 768px) {
      margin-right: var(--page-padding);
    }
  }

  @media (min-width: 768px) {
    margin-top: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

#bio {
  p:not(:first-child),
  blockquote {
    margin-top: 1em;
  }

  blockquote {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--spacing-16);

    font-style: italic;
    text-align: center;
    background-color: var(--secondary-color);
    padding: var(--spacing-16);
    margin-inline: var(--page-padding);
    border-radius: var(--border-radius-md);
  }

  cite {
    font-style: normal;
  }

  .bio-book-item {
    display: none;
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;

    blockquote {
      margin-inline: 0;
    }

    #bio-book-content {
      display: grid;
      height: 100%;

      .bio-book-item:nth-child(1),
      .bio-book-item:nth-child(2) {
        display: block;
      }

      .bio-book-item {
        text-align: center;

        img {
          margin-inline: auto;
          margin-bottom: var(--spacing-16);
        }

        h3 {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-8);
          font-weight: bold;
        }

        .year {
          font-weight: normal;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    #bio-book-content {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    .bio-book-item:nth-child(3),
    .bio-book-item:nth-child(4) {
      display: block;
    }
  }
}

#tour {
  picture {
    img {
      width: 100%;
      object-fit: cover;

      @media (min-width: 768px) {
        aspect-ratio: 10 / 4;
      }
    }
  }

  #tour-dates {
    .tour-item {
      display: grid;
      gap: var(--spacing-8);
      border-bottom: 1px var(--secondary-color) solid;
      padding-block: var(--spacing-16);

      .tour-date {
        display: flex;
        align-items: last baseline;
        gap: var(--spacing-8);

        img {
          object-fit: contain;
        }
      }

      .tour-title {
        font-family: var(--font-family-secondary);
      }
    }

    @media (min-width: 1280px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing-16);
      margin-top: var(--spacing-16);

      .tour-item {
        border: 1px var(--secondary-color) solid;
        padding-inline: var(--spacing-16);
        border-radius: var(--border-radius-md);
      }
    }
  }
}

#book-list {
  .book-item {
    display: grid;
    gap: var(--spacing-16);
    padding-block: var(--spacing-16);
    border-bottom: 1px var(--secondary-color) solid;

    h3 {
      display: grid;
      gap: var(--spacing-4);

      span {
        display: flex;
        gap: var(--spacing-4);
      }

      span {
        font-weight: bold;
      }

      .year {
        font-weight: normal;
      }
    }

    img {
      margin-inline: auto;
    }

    @media (min-width: 768px) {
      grid-template-columns: auto max-content;

      img {
        grid-column: 2;
        grid-row: span 3;
      }

      h3 {
        grid-row: 1;
      }
    }
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-16);

    .book-item {
      border: 1px var(--secondary-color) solid;
      padding-inline: var(--spacing-16);
      border-radius: var(--border-radius-md);
    }
  }
}

#contact {
  #contact-info {
    .contact-item {
      padding-block: var(--spacing-20);
    }

    .contact-item {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        gap: var(--spacing-16);
        align-items: center;
      }

      @media (min-width: 1280px) {
        border: 1px solid var(--secondary-color);
        margin-bottom: var(--spacing-20);
        border-radius: var(--border-radius-md);
        padding-inline: var(--spacing-20);
      }
    }

    .contact-item:first-of-type {
      border-bottom: 1px var(--secondary-color) solid;
    }

    img {
      border-radius: var(--border-radius-full);
      margin-inline: auto;

      @media (min-width: 768px) {
        aspect-ratio: 1;
      }
    }

    h3 {
      font-weight: bold;
      font-size: var(--base-md);
      margin-bottom: var(--spacing-20);
      margin-top: var(--spacing-4);
    }

    .name-role {
      display: flex;
      align-items: center;
      gap: var(--spacing-4);
    }
  }

  form {
    fieldset {
      padding: var(--spacing-20);
      border-radius: var(--border-radius-md);
      display: grid;
      gap: var(--spacing-12);

      legend {
        padding-inline: var(--spacing-4);
      }

      input,
      textarea {
        background-color: var(--input-background-color);
        border: 1px solid var(--text-color);
        padding: var(--spacing-4);
        border-radius: var(--border-radius-sm);
      }

      .form-group {
        display: grid;
        gap: var(--spacing-4);
      }

      button {
        background-color: var(--accent-color);
        border: none;
        padding-block: var(--spacing-16);
        padding-inline: var(--spacing-20);
        width: fit-content;
        border-radius: var(--border-radius-sm);
        color: var(--text-color);
      }
    }
  }

  .conference-image {
    display: none;
  }

  @media (min-width: 1024px) {
    .conference-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .contact-section {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: var(--spacing-16);

      .conference-image {
        grid-column: 2;
      }
    }
  }
}

.footer-container {
  background-color: var(--secondary-color);
  text-align: center;
  display: grid;
  gap: var(--spacing-20);
  padding-block: var(--spacing-16);

  .publisher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: var(--spacing-16);

    img {
      border-radius: var(--border-radius-full);
    }
  }

  p {
    margin-inline: auto;
  }

  .footer-nav a {
    color: var(--text-color);
  }

  @media (min-width: 768px) {
    align-items: start;
    grid-template-columns: 1fr max-content 1.5fr;
    gap: var(--spacing-8);
    grid-template-rows: repeat(2, min-content);

    .socials {
      grid-column: 1;
      justify-content: flex-start;
    }

    #credits-list {
      grid-column: 3;
      grid-row: 1 / span 2;
      text-align: right;
    }

    .publisher {
      flex-direction: column;
      align-items: start;
    }

    p {
      margin-top: auto;
    }
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
